{% extends 'base_admin.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
	{% block header %}
		{{parent()}}
	{% endblock %}

	<div class="wrapper">
		<h1>Users</h1>
		<div class="cat-list">

			{% for user in users %}
				<div class="card-u">
					<p>{{ user.email }}</p>
					<p>{{ user.roles ? user.roles|json_encode : '' }}</p>
					<a class="link" href="{{ path('admin_user_show', {'id': user.id}) }}">show</a>
					<a class="link" href="{{ path('admin_user_edit', {'id': user.id}) }}">edit</a>
				</div>

			{% else %}
				<p>no records found</p>
					
			{% endfor %}
		</div>
	</div>

{% endblock %}
