<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Admin
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href={{ asset("/reset.css")}}>
        </link>
		<link rel="stylesheet" type="text/css" href={{ asset("/style.css")}}>
	</link>
    </head>
    <body>{% block body %}
		{% block header %}
		<header>
			<a href={{ path('categorie_index') }}><img src={{asset("/play.png")}}></img></a>
			<nav>
				<a href={{ path('admin_users') }}>Users</a>
                <a href={{ path('admin_quizzes') }}>Quizzes</a>
                <a href={{ path('admin_statistiques') }}>Statistiques</a>
                <a href={{ path('admin_email') }}>Email</a>
			</nav>
			{% if app.user %}
				<a class="log btn" href={{ path('app_logout') }}>Logout</a>
			{% else %}
				<a class="log btn" href={{ path('app_login') }}>Login</a>
			{% endif %}
		</header>
{% endblock %}
	{% endblock %}</body>
</html>
